body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.container {
  background-color: rgb(70, 66, 66);
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}
.option {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.red {
  background-color: rgb(193, 40, 40);
}
.green {
  background-color: rgb(58, 193, 40);
}
.yellow {
  background-color: rgb(206, 228, 35);
}
.blue {
  background-color: rgb(38, 115, 222);
}
.purple {
  background-color: rgb(178, 21, 193);
}
